<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An impressive and flawless site template that includes various UI elements and countless features, attractive ready-made blocks and rich pages, basically everything you need to create a unique and professional website.">
  <meta name="keywords" content="bootstrap 5, business, corporate, creative, gulp, marketing, minimal, modern, multipurpose, one page, responsive, saas, sass, seo, startup">
  <meta name="author" content="elemis">
  <title>Sandbox - Modern & Multipurpose Bootstrap 5 Template</title>

  <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">

  <link rel="stylesheet" href=  "{% static '/css/plugins.css' %}">
  <link rel="stylesheet" href=  "{% static '/css/style.css' %}">
  <link rel="stylesheet" href=  "{% static '/css/colors/purple.css' %}">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg classic transparent position-absolute navbar-dark">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100">
            <a href="{% url 'index' %}">
              <img class="logo-dark" src="{% static '/img/logo-purple.png' %}" srcset="./media/img/logo-purple@2x.png 2x" alt="" />
              <img class="logo-light" src="{% static '/img/logo-light.png'%}" srcset="./media/img/logo-light@2x.png 2x" alt="" />
            </a>
          </div>
          <div class="navbar-collapse offcanvas-nav">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="{% url 'index' %}"><img src="{% static '/img/logo-light.png'%}" srcset="{% static '/img/logo-light.png'%}" alt="" /></a>
              <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#first">WHAT WE DO?</a>
              
                <!--/.dropdown-menu -->
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#second">CHOOSE US?</a>
               
              </li>
              <li class="nav-item "><a class="nav-link " href="{% url 'index' %}#third">SOLUTIONS</a>
               
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="">CASE STUDIES</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="dropdown-item" href="./blog.html">CASE STUDIES 1</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="./blog2.html">CASE STUDIES 2</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'whoweare1' %}">WHO ARE WE 1?</a>
                
                <!--/.dropdown-menu -->
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'whoweare2' %}">WHO ARE WE 2?</a>
                
                <!--/.dropdown-menu -->
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other ms-lg-4">
            <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
              <li class="nav-item d-none d-md-block">
                <a href="#" class="btn btn-sm btn-white rounded-pill">Free Trial</a>
              </li>
              <li class="nav-item d-lg-none">
                <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->
    </header>
    <!-- /header -->
    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 bg-content text-white" data-image-src="{% static '/img/photos/bg4.jpg' %}">
      <div class="container pt-18 pb-16" style="z-index: 5; position:relative">
        <div class="row gx-0 gy-12 align-items-center">
          <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-6 content text-center text-lg-start" data-cues="slideInDown" data-group="page-title" data-delay="600">
            <h1 class="display-2 mb-5 text-white" id="third">Crafting project specific solutions with expertise.</h1>
            <p class="lead fs-lg lh-sm mb-7 pe-xl-10">We’re a creative company that focuses on establishing long-term relationships with customers.</p>
            <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
              <span><a href="#" class="btn btn-lg btn-white rounded-pill me-2">Explore Now</a></span>
              <span><a href="#" class="btn btn-lg btn-outline-white rounded-pill">Contact Us</a></span>
            </div>
          </div>
          <!--/column -->
          <div class="col-lg-5 offset-lg-1">
            <div class="basic-slider owl-carousel dots-over shadow-lg" data-nav="true" data-margin="5">
              <div class="item"><img src="{% static '/img/photos/about21.jpg' %}" srcset="{% static '/img/photos/about21.jpg' %}"  class="rounded" alt="" /></div>
              <div class="item"><a href="{% static '/media/movie.mp4' %}" class="btn btn-circle btn-white btn-play ripple mx-auto mb-5 position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox data-gallery="hero"><i class="icn-caret-right"></i></a><img src="{% static '/img/photos/about22.jpg' %}"  srcset="{% static '/img/photos/about22.jpg' %}"  class="rounded" alt="" /></div>
              <div class="item"><img src="{% static '/img/photos/about23.jpg' %}"  srcset="{% static '/img/photos/about23.jpg' %}"  class="rounded" alt="" /></div>
            </div>
            <!-- /.basic-slider -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-17">
        <div class="row text-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="fs-15 text-uppercase text-primary mb-3" id="first">What We Do?</h2>
            <h3 class="display-4 mb-10 px-xl-10">The service we offer is specifically designed to meet your needs.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="position-relative mb-14 mb-md-17">
          <div class="shape rounded-circle bg-soft-primary rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.5rem; z-index: 0;"></div>
          <div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
          <div class="row gx-md-5 gy-5 text-center">
            <div class="col-md-6 col-xl-3">
              <div class="card">
                <div class="card-body">
                  <div class="icon btn btn-circle btn-lg btn-primary disabled mb-3"> <i class="uil uil-phone-volume"></i> </div>
                  <h4>24/7 Support</h4>
                  <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.</p>
                  <a href="#" class="more hover link-primary">Learn More</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
              <div class="card">
                <div class="card-body">
                  <div class="icon btn btn-circle btn-lg btn-primary disabled mb-3"> <i class="uil uil-shield-exclamation"></i> </div>
                  <h4>Secure Payments</h4>
                  <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.</p>
                  <a href="#" class="more hover link-primary">Learn More</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
              <div class="card">
                <div class="card-body">
                  <div class="icon btn btn-circle btn-lg btn-primary disabled mb-3"> <i class="uil uil-laptop-cloud"></i> </div>
                  <h4>Daily Updates</h4>
                  <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.</p>
                  <a href="#" class="more hover link-primary">Learn More</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
              <div class="card">
                <div class="card-body">
                  <div class="icon btn btn-circle btn-lg btn-primary disabled mb-3"> <i class="uil uil-chart-line"></i> </div>
                  <h4>Market Research</h4>
                  <p class="mb-2">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.</p>
                  <a href="#" class="more hover link-primary">Learn More</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.position-relative -->
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center mb-14 mb-md-17">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="{% static '/img/illustrations/i11.png' %}" srcset="{% static '/img/illustrations/i11.png' %}" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-primary mb-3" id="second">Why Choose Us?</h2>
            <h3 class="display-4 mb-7">We bring solutions to make life easier for our clients.</h3>
            <div class="accordion accordion-wrapper" id="accordionExample">
              <div class="card plain accordion-item">
                <div class="card-header" id="headingOne">
                  <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Professional Design </button>
                </div>
                <!--/.card-header -->
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingTwo">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Top-Notch Support </button>
                </div>
                <!--/.card-header -->
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingThree">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Header and Slider Options </button>
                </div>
                <!--/.card-header -->
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
            </div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center mb-md-15">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src="{% static '/img/illustrations/i17.png' %}" srcset="{% static '/img/illustrations/i17.png' %}" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-primary mb-3">Our Solutions</h2>
            <h3 class="display-4 mb-5">We make your spending stress-free for you to have the perfect control.</h3>
            <p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus.</p>
            <div class="row gy-3">
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>Aenean quam ornare. Curabitur blandit.</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare.</span></li>
                </ul>
              </div>
              <!--/column -->
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>Etiam porta euismod malesuada mollis.</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Vivamus sagittis lacus vel augue rutrum.</span></li>
                </ul>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gray">
      <div class="container py-14 pt-md-0 pb-md-16">
        <div class="row mt-md-n50p mb-14 mb-md-7">
          <div class="col-xl-10 mx-auto">
            <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" data-image-src=" {% static '/img/photos/bg2.jpg' %} ">
              <div class="card-body p-9 p-xl-11">
                <div class="row align-items-center counter-wrapper gy-8 text-center text-white">
                  <div class="col-6 col-lg-3">
                    <h3 class="counter counter-lg text-white">7518</h3>
                    <p>Completed Projects</p>
                  </div>
                  <!--/column -->
                  <div class="col-6 col-lg-3">
                    <h3 class="counter counter-lg text-white">3472</h3>
                    <p>Happy Customers</p>
                  </div>
                  <!--/column -->
                  <div class="col-6 col-lg-3">
                    <h3 class="counter counter-lg text-white">2184</h3>
                    <p>Expert Employees</p>
                  </div>
                  <!--/column -->
                  <div class="col-6 col-lg-3">
                    <h3 class="counter counter-lg text-white">4523</h3>
                    <p>Awards Won</p>
                  </div>
                  <!--/column -->
                </div>
                <!--/.row -->
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
          <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
            <h2 class="fs-15 text-uppercase text-primary mb-3">Case Studies</h2>
            <h3 class="display-4 mb-6">Check out some of our awesome projects with creative ideas and great design.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        {% block content %}
        <div class="position-relative">
          <div class="shape bg-dot primary rellax w-17 h-20" data-rellax-speed="1" style="top: 0; left: -1.7rem;"></div>
          <div class="carousel owl-carousel gap-small blog grid-view" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1200":{"items": "3"}}'>
            {% for article in shelf %}
            <div class="item">
              <div class="item-inner">
                <article>
                  <div class="card">  
                    <figure class="card-img-top overlay overlay-1 hover-scale"><a href="#"> <img src= "{% get_static_prefix %}img/{{article.Image}}" /></a>
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-body">
                      <div class="post-header">
                        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="">{{article.Title}} </a></h2>
                      </div>
                      <!-- /.post-header -->
                      <div class="post-content">
                        <p>{{article.Introduction}}</p>
                      </div>
                      <!-- /.post-content -->
                    </div>
                    <!--/.card-body -->
                    <div class="card-footer">
                      <ul class="post-meta d-flex mb-0">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{article.LastMod}}</span></li>
                        <li class="post-comments"><a href="#"><i class="uil uil-file-alt fs-15"></i>{{article.theme.categorie}}</a></li>
                      </ul>
                      <!-- /.post-meta -->
                    </div>
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </article>
                <!-- /article -->
              </div>
              <!-- /.item-inner -->
            </div>
            <!-- /.item -->
            {% endfor %}
            
          </div>
          <!-- /.owl-carousel -->
        </div>
        {% endblock %}
        <!-- /.position-relative -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container py-14 py-md-17">
        <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center mb-14 mb-md-18">
          <div class="col-md-8 col-lg-6 position-relative">
            <a  class="btn btn-circle btn-primary btn-play ripple mx-auto mb-5 position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox data-gallery="about"><i class="icn-caret-right"></i></a>
            <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "></div>
            <figure class="rounded"><img src="{% static '/img/photos/about12.jpg' %}" srcset="{% static '/img/photos/about12.jpg' %}" alt=""></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5 offset-lg-1">
            <h2 class="fs-15 text-uppercase text-primary mb-3">Who Are We?</h2>
            <h3 class="display-4 mb-6">Company that believes in the power of creative strategy.</h3>
            <p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <div class="row gy-3 gx-xl-8">
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>Aenean eu leo quam ornare curabitur blandit tempus.</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare donec elit.</span></li>
                </ul>
              </div>
              <!--/column -->
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>Etiam porta sem malesuada magna mollis euismod.</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Fermentum massa vivamus faucibus amet euismod.</span></li>
                </ul>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row mb-3">
          <div class="col-md-10 col-lg-12 col-xl-10 col-xxl-9 mx-auto text-center">
            <h2 class="fs-15 text-uppercase text-primary mb-3">Our Team</h2>
            <h3 class="display-4 mb-7 px-lg-19 px-xl-18">Think unique and be innovative. Make a difference with Sandbox.</h3>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row grid-view gx-md-8 gx-xl-10 gy-8 gy-lg-0 mb-md-20">
          <div class="col-md-6 col-lg-3">
            <div class="position-relative">
              <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
              <div class="card">
                <figure class="card-img-top"><img class="img-fluid" src="{% static '/img/avatars/t1.jpg' %}" srcset="{% static '/img/avatars/t1.jpg' %}" alt="" /></figure>
                <div class="card-body px-6 py-5">
                  <h4 class="mb-1">Coriss Ambady</h4>
                  <p class="mb-0">Financial Analyst</p>
                </div>
                <!--/.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /div -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3">
            <div class="position-relative">
              <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
              <div class="card"> 
                <figure class="card-img-top"><img class="img-fluid" src="{% static '/img/avatars/t2.jpg' %}" srcset="{% static '/img/avatars/t2.jpg' %}" alt="" /></figure>
                <div class="card-body px-6 py-5">
                  <h4 class="mb-1">Cory Zamora</h4>
                  <p class="mb-0">Marketing Specialist</p>
                </div>
                <!--/.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /div -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3">
            <div class="position-relative">
              <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
              <div class="card">
                <figure class="card-img-top"><img class="img-fluid" src="{% static '/img/avatars/t3.jpg' %}" srcset="{% static '/img/avatars/t3.jpg' %}" alt="" /></figure>
                <div class="card-body px-6 py-5">
                  <h4 class="mb-1">Nikolas Brooten</h4>
                  <p class="mb-0">Sales Manager</p>
                </div>
                <!--/.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /div -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3">
            <div class="position-relative">
              <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -0.75rem; right: -0.75rem; width: 98%; height: 98%; z-index:0"></div>
              <div class="card">
                <figure class="card-img-top"><img class="img-fluid" src="{% static '/img/avatars/t4.jpg' %}" srcset="{% static '/img/avatars/t4.jpg' %}" alt="" /></figure>
                <div class="card-body px-6 py-5">
                  <h4 class="mb-1">Jackie Sanders</h4>
                  <p class="mb-0">Investment Planner</p>
                </div>
                <!--/.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /div -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gray">
      <div class="container py-14 pt-md-0 pb-md-17">
        <div class="row mt-md-n50p text-white text-center">
          <div class="col-xl-10 mx-auto mb-14 mb-lg-n6">
            <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" data-image-src="{% static '/img/photos/bg2.jpg' %}">
              <div class="card-body p-9 p-xl-12">
                <div class="row gx-0">
                  <div class="col-xxl-9 mx-auto">
                    <div class="basic-slider owl-carousel dots-dark gap-small mb-0" data-margin="30">
                      <div class="item">
                        <span class="ratings five mb-3"></span>
                        <blockquote class="border-0 fs-lg mb-2">
                          <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                          <div class="blockquote-details justify-content-center text-center">
                            <div class="info ps-0">
                              <h5 class="mb-1 text-white">Coriss Ambady</h5>
                              <p class="mb-0">Financial Analyst</p>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <!-- /.item -->
                      <div class="item">
                        <span class="ratings five mb-3"></span>
                        <blockquote class="border-0 fs-lg mb-2">
                          <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                          <div class="blockquote-details justify-content-center text-center">
                            <div class="info ps-0">
                              <h5 class="mb-1 text-white">Cory Zamora</h5>
                              <p class="mb-0">Marketing Specialist</p>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <!-- /.item -->
                      <div class="item">
                        <span class="ratings five mb-3"></span>
                        <blockquote class="border-0 fs-lg mb-2">
                          <p>“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                          <div class="blockquote-details justify-content-center text-center">
                            <div class="info ps-0">
                              <h5 class="mb-1 text-white">Nikolas Brooten</h5>
                              <p class="mb-0">Sales Manager</p>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <!-- /.item -->
                    </div>
                    <!-- /.owl-carousel -->
                  </div>
                  <!-- /column -->
                </div>
                <!-- /.row -->
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="fs-15 text-uppercase text-primary mb-3">Our Pricing</h2>
            <h3 class="display-4 mb-10 px-xl-10">We offer great prices, premium products and quality service for your business.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-xl-11 mx-auto">
            <div class="pricing-wrapper position-relative mb-10 mb-md-14">
              <div class="shape bg-dot primary rellax w-16 h-18" data-rellax-speed="1" style="top: 2rem; right: -2.4rem;"></div>
              <div class="shape rounded-circle bg-line primary rellax w-18 h-18 d-none d-lg-block" data-rellax-speed="1" style="bottom: 0.5rem; left: -2.5rem;"></div>
              <div class="pricing-switcher-wrapper switcher">
                <p class="mb-0 pe-3">Monthly</p>
                <div class="pricing-switchers">
                  <div class="pricing-switcher pricing-switcher-active"></div>
                  <div class="pricing-switcher"></div>
                  <div class="switcher-button bg-primary"></div>
                </div>
                <p class="mb-0 ps-3">Yearly</p>
              </div>
              <div class="row gy-6 mt-3 mt-md-5">
                <div class="col-md-6 col-lg-4">
                  <div class="pricing card">
                    <div class="card-body">
                      <div class="prices text-dark">
                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">9</span> <span class="price-duration">month</span></div>
                        <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">99</span> <span class="price-duration">year</span></div>
                      </div>
                      <!--/.prices -->
                      <h4 class="card-title mt-2">Basic Plan</h4>
                      <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                        <li><i class="uil uil-check"></i><span><strong>1</strong> Project </span></li>
                        <li><i class="uil uil-check"></i><span><strong>100K</strong> API Access </span></li>
                        <li><i class="uil uil-check"></i><span><strong>100MB</strong> Storage </span></li>
                        <li><i class="uil uil-check"></i><span> Weekly <strong>Reports</strong> </span></li>
                        <li><i class="uil uil-check"></i><span> 7/24 <strong>Support</strong></span></li>
                      </ul>
                      <a href="#" class="btn btn-primary rounded-pill">Choose Plan</a>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.pricing -->
                </div>
                <!--/column -->
                <div class="col-md-6 col-lg-4 popular">
                  <div class="pricing card">
                    <div class="card-body">
                      <div class="prices text-dark">
                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">19</span> <span class="price-duration">month</span></div>
                        <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">199</span> <span class="price-duration">year</span></div>
                      </div>
                      <!--/.prices -->
                      <h4 class="card-title mt-2">Premium Plan</h4>
                      <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                        <li><i class="uil uil-check"></i><span><strong>5</strong> Projects </span></li>
                        <li><i class="uil uil-check"></i><span><strong>100K</strong> API Access </span></li>
                        <li><i class="uil uil-check"></i><span><strong>200MB</strong> Storage </span></li>
                        <li><i class="uil uil-check"></i><span> Weekly <strong>Reports</strong></span></li>
                        <li><i class="uil uil-check"></i><span> 7/24 <strong>Support</strong></span></li>
                      </ul>
                      <a href="#" class="btn btn-primary rounded-pill">Choose Plan</a>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.pricing -->
                </div>
                <!--/column -->
                <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
                  <div class="pricing card">
                    <div class="card-body">
                      <div class="prices text-dark">
                        <div class="price price-show"><span class="price-currency">$</span><span class="price-value">49</span> <span class="price-duration">month</span></div>
                        <div class="price price-hide price-hidden"><span class="price-currency">$</span><span class="price-value">499</span> <span class="price-duration">year</span></div>
                      </div>
                      <!--/.prices -->
                      <h4 class="card-title mt-2">Corporate Plan</h4>
                      <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                        <li><i class="uil uil-check"></i><span><strong>20</strong> Projects </span></li>
                        <li><i class="uil uil-check"></i><span><strong>300K</strong> API Access </span></li>
                        <li><i class="uil uil-check"></i><span><strong>500MB</strong> Storage </span></li>
                        <li><i class="uil uil-check"></i><span> Weekly <strong>Reports</strong></span></li>
                        <li><i class="uil uil-check"></i><span> 7/24 <strong>Support</strong></span></li>
                      </ul>
                      <a href="#" class="btn btn-primary rounded-pill">Choose Plan</a>
                    </div>
                    <!--/.card-body -->
                  </div>
                  <!--/.pricing -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/.pricing-wrapper -->
            <div class="row gx-md-8 gx-xl-12 gy-10">
              <div class="col-lg-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
                  </div>
                  <div>
                    <h4>Can I cancel my subscription?</h4>
                    <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
                  </div>
                </div>
              </div>
              <!-- /column -->
              <div class="col-lg-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
                  </div>
                  <div>
                    <h4>Which payment methods do you accept?</h4>
                    <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
                  </div>
                </div>
              </div>
              <!-- /column -->
              <div class="col-lg-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
                  </div>
                  <div>
                    <h4>How can I manage my Account?</h4>
                    <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
                  </div>
                </div>
              </div>
              <!-- /column -->
              <div class="col-lg-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-sm btn-circle btn-primary disabled me-5"><i class="uil uil-comment-exclamation"></i></span>
                  </div>
                  <div>
                    <h4>Is my credit card information secure?</h4>
                    <p class="mb-0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod maecenas.</p>
                  </div>
                </div>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="bg-navy text-inverse">
    <div class="container py-13 py-md-15">
      <div class="d-lg-flex flex-row align-items-lg-center">
        <h3 class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white">Join our community by using our services and grow your business.</h3>
        <a href="#" class="btn btn-primary rounded-pill mb-0 text-nowrap">Try It For Free</a>
      </div>
      <!--/div -->
      <hr class="mt-11 mb-12" />
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="./media/img/logo-light.png" srcset="./media/img/logo-light@2x.png 2x" alt="" />
            <p class="mb-4">© 2021 Sandbox. <br class="d-none d-lg-block" />All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a>
              <a href="#"><i class="uil uil-instagram"></i></a>
              <a href="#"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Get in Touch</h4>
            <address class="pe-xl-15 pe-xxl-17">Moonshine St. 14/05 Light City, London, United Kingdom</address>
            <a href="mailto:#">info@email.com</a><br /> +00 (123) 456 78 90
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Learn More</h4>
            <ul class="list-unstyled  mb-0">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-12 col-lg-3">
          <div class="widget">
            <h4 class="widget-title text-white mb-3">Our Newsletter</h4>
            <p class="mb-5">Subscribe to our newsletter to get our news & deals delivered to you.</p>
            <div class="newsletter-wrapper">
              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup2">
                <form action="https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a" method="post" id="mc-embedded-subscribe-form2" name="mc-embedded-subscribe-form" class="validate dark-fields" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll2">
                    <div class="mc-field-group input-group form-floating">
                      <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email Address" id="mce-EMAIL2">
                      <label for="mce-EMAIL2">Email Address</label>
                      <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2" class="btn btn-primary ">
                    </div>
                    <div id="mce-responses2" class="clear">
                      <div class="response" id="mce-error-response2" style="display:none"></div>
                      <div class="response" id="mce-success-response2" style="display:none"></div>
                    </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value=""></div>
                    <div class="clear"></div>
                  </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
            <!-- /.newsletter-wrapper -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="{% static '/js/plugins.js' %}"></script>
  
  <script src="{% static '/js/theme.js' %}"></script>
</body>

</html>