<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An impressive and flawless site template that includes various UI elements and countless features, attractive ready-made blocks and rich pages, basically everything you need to create a unique and professional website.">
  <meta name="keywords" content="bootstrap 5, business, corporate, creative, gulp, marketing, minimal, modern, multipurpose, one page, responsive, saas, sass, seo, startup">
  <meta name="author" content="elemis">
  <title>Sandbox - Modern & Multipurpose Bootstrap 5 Template</title>

  <link rel="shortcut icon" href="{% static '/img/favicon.png' %}">

  <link rel="stylesheet" href=  "{% static '/css/plugins.css' %}">
  <link rel="stylesheet" href=  "{% static '/css/style.css' %}">
  <link rel="stylesheet" href=  "{% static '/css/colors/purple.css' %}">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
        <nav class="navbar navbar-expand-lg classic transparent position-absolute navbar-dark"style="background-color: #362c71 !important ;">
          <div class="container flex-lg-row flex-nowrap align-items-center">
            <div class="navbar-brand w-100">
              <a href="{% url 'index' %}">
                <img class="logo-dark" src="{% static '/img/logo-purple.png' %}" srcset="./media/img/logo-purple@2x.png 2x" alt="" />
                <img class="logo-light" src="{% static '/img/logo-light.png'%}" srcset="./media/img/logo-light@2x.png 2x" alt="" />
              </a>
            </div>
            <div class="navbar-collapse offcanvas-nav">
              <div class="offcanvas-header d-lg-none d-xl-none">
                <a href="{% url 'index' %}"><img src="{% static '/img/logo-light.png'%}" srcset="{% static '/img/logo-light.png'%}" alt="" /></a>
                <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
              </div>
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#first">WHAT WE DO?</a>
                
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#second">CHOOSE US?</a>
                 
                </li>
                <li class="nav-item "><a class="nav-link " href="{% url 'index' %}#third">SOLUTIONS</a>
                 
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="">CASE STUDIES</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="dropdown-item" href="./blog.html">CASE STUDIES 1</a></li>
                    <li class="nav-item"><a class="dropdown-item" href="./blog2.html">CASE STUDIES 2</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'whoweare1' %}">WHO ARE WE 1?</a>
                  
                  <!--/.dropdown-menu -->
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'whoweare2' %}">WHO ARE WE 2?</a>
                  
                  <!--/.dropdown-menu -->
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-collapse -->
            <div class="navbar-other ms-lg-4">
              <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
                <li class="nav-item d-none d-md-block">
                  <a href="#" class="btn btn-sm btn-white rounded-pill">Free Trial</a>
                </li>
                <li class="nav-item d-lg-none">
                  <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.container -->
        </nav>
        <!-- /.navbar -->
      </header>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="{% static '/js/plugins.js' %}"></script>
  
  <script src="{% static '/js/theme.js' %}"></script>
</body>

</html>